/* CSS Document */

body{
margin:0px auto;
}
a.kk:link, a.kk:visited, a.kk:active{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#f28607; text-decoration:underline;}
a.kk:hover{}

.mattblacktabs{
width: 100%;
overflow: hidden;
}

.mattblacktabs ul{
margin: 0;
padding: 0;
padding-left: 10px; /*offset of tabs relative to browser left edge*/
font: 600 15px Arial;
text-transform:uppercase;
list-style-type: none;
}

.mattblacktabs li{
display: inline;
margin: 0;
}

.mattblacktabs li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 14px 26px; /*padding inside each tab*/
border-right: 1px solid #f8da9a; /*right divider between tabs*/
color: white;
background: #ffae00; /*background of tabs (default state)*/
}

.mattblacktabs li a:visited{
color: white;
}

.mattblacktabs li a:hover, .mattblacktabs li.selected a{
background: #f15922; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
}
h1{
	font-family:Calibri, Arial;
	font-size:20px;
	color:#1681cc;
	margin:0px auto;
	font-weight:600;
	}
h2{
	font-family:Calibri, Arial;
	font-size:20px;
	color:#ffffff;
	margin:0px auto;
	font-weight:600;
	}
.orange{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#f28607;
	}
.blacktext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	}
.whitetext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
